<swiper class="swiper" fxFlex="auto" [config]="config">
    <div class="swiper-slide">
        <div id="element-container">
            <div id="details-container">
                <img src="../../../assets/matmal-1.JPG" alt="">

            </div>

        </div>
    </div>
    <div class="swiper-slide">
        <div id="element-container">
            <div id="details-container">
                <img src="../../../assets/matmal-2.JPG" alt="">

            </div>

        </div>
    </div>
    <div class="swiper-slide">
        <div id="element-container">
            <div id="details-container">
                <img src="../../../assets/matmal-3.JPG" alt="">

            </div>

        </div>
    </div>
</swiper>