#home-container {
    width: 100%;
    height: auto;
    background-color: #DCC4A3;
    overflow: hidden;
}

#image-container {
    margin: 0 auto;
    height: 250px;
    background: url(../../assets/developer-4523094.jpg) center center/cover no-repeat;
}

@media(min-width: 320px) and (max-width: 600px) {
    #image-container {
        height: 350px;
    }
}

@media(min-width: 600px) and (max-width: 768px) {
    #image-container {
        height: 400px;
    }
}

@media(min-width: 768px) {
    #image-container {
        height: 450px;
    }
}

#details-container {
    height: 450px;
    margin: 0 auto;
    background-color: #F3E4CF;
    position: relative;
    text-align: center;
}

.personal-img {
    width: 250px;
    height: 250px;
    margin: 0 auto;
}

.personal-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
    border: 5px solid #000000;
    margin-top: 2rem;
}

.owner {
    font-weight: 800;
    text-align: center;
}

#project-container {
    text-align: center;
}

#swiper-container {
    max-width: 1200px;
    margin: 0 auto;
}

.project-title {
    font-weight: 800;
    font-size: 0.85rem;
}

#extra-container {
    max-width: 600px;
    margin: 0 auto;
    height: auto;
    padding: 1rem 0;
}

#extra-container h3 {
    margin: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.btn {
    border: none;
    height: 50px;
    background-color: #000000;
    color: #fff;
    font-size: 1rem;
}

.btn:hover {
    cursor: pointer;
    background-color: darkgrey;
}

.btn.git {
    height: 50px;
}

.btn.git img {
    width: 50px;
}

.btn.live {
    padding-top: 0.2rem;
}

.btn.resume {
    padding-top: 0.25rem;
    margin-top: 0.4rem;
}