<div id="footer-container">
    <a [href]="linkedIn" appExternalUrl class="btn linkedIn"><img src="../../../assets/linkedin-logo.svg" alt=""></a>
    <a [href]="github" appExternalUrl class="btn github"><img src="../../../assets/010-github.svg" alt=""></a>
    <br>
    <span>&copy; Baiguini Mattia</span>
    <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    <br>
    <div>Icons made by <a href="https://www.flaticon.com/authors/google" title="Google">Google</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</div>